@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to right, #4b1248, #f0c27b);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to left, #000, #e9d362);
  background: linear-gradient(to right, #011458, #034c96);
  /* background:white; */
}
